<% include ../header.html %>
<% include header.html %>
<!-- 表格导出 -->
<!-- <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script> -->
<script src="/js-xlsx/dist/xlsx.core.min.js"></script>
<script src="/blobjs/Blob.min.js"></script>
<script src="/file-saverjs/FileSaver.min.js"></script>
<script src="/tableexport.js/dist/js/tableexport.min.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<div class="container">
    <h1>Export</h1>
    <div id="toolbar">
        <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
        </select>
    </div>
    <table id="table" data-toggle="table" data-show-export="true" data-pagination="true" data-click-to-select="true"
        data-toolbar="#toolbar" data-url="/json/data1.json">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="id">ID</th>
                <th data-field="name">Item Name</th>
                <th data-field="price">Item Price</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val()
            });
        });
    })
</script>
<% include ../footer.html %>