<% include ../header.html %>

<div class="container-fluid">
    <h1>Format</h1>
    <table id="table" data-toggle="table" data-height="660" data-url="/json/data1.json">
        <thead>
            <tr>
                <th data-field="id" data-formatter="ID: %s">ID</th>
                <th data-field="name" data-formatter="nameFormatter">Item Name</th>
                <th data-field="price" data-formatter="priceFormatter">Item Price</th>
                <th data-field="price" data-formatter="actionFormatter">options</th>
            </tr>
        </thead>
    </table>
    <div class="modal fade" id="modalTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal table</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="pad input-container">
                        <section class="content">
                            <span class="input input--hideo">
                                <input class="input__field input__field--hideo" type="text" id="register-username"
                                    autocomplete="off" placeholder="请输入用户名" maxlength="15" />
                                <label class="input__label input__label--hideo" for="register-username">
                                    <i class="fa fa-fw fa-user icon icon--hideo"></i>
                                    <span class="input__label-content input__label-content--hideo"></span>
                                </label>
                            </span>
                            <span class="input input--hideo">
                                <input class="input__field input__field--hideo" type="password" id="register-password"
                                    placeholder="请输入密码" maxlength="15" />
                                <label class="input__label input__label--hideo" for="register-password">
                                    <i class="fa fa-fw fa-lock icon icon--hideo"></i>
                                    <span class="input__label-content input__label-content--hideo"></span>
                                </label>
                            </span>
                            <span class="input input--hideo">
                                <input class="input__field input__field--hideo" type="password" id="register-repassword"
                                    placeholder="请确认密码" maxlength="15" />
                                <label class="input__label input__label--hideo" for="register-repassword">
                                    <i class="fa fa-fw fa-lock icon icon--hideo"></i>
                                    <span class="input__label-content input__label-content--hideo"></span>
                                </label>
                            </span>
                            <span class="input input--hideo">
                                <input class="input__field input__field--hideo" type="text" id="register-code"
                                    autocomplete="off" placeholder="请输入注册码" />
                                <label class="input__label input__label--hideo" for="register-code">
                                    <i class="fa fa-fw fa-wifi icon icon--hideo"></i>
                                    <span class="input__label-content input__label-content--hideo"></span>
                                </label>
                            </span>
                        </section>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function nameFormatter(value, row) {
        var icon = row.id % 2 === 0 ? 'fa-star' : 'fa-star-o'

        return '<i class="fa ' + icon + '"></i> ' + value;
    }

    function priceFormatter(value) {
        // 16777215 == ffffff in decimal
        var color = '#' + Math.floor(Math.random() * 6777215).toString(16);
        return '<div  style="color: ' + color + '">' +
            '<i class="fa fa-cny" style="color:red;"></i>' +
            value.substring(1) +
            '</div>';
    }
    //操作栏的格式化
    function actionFormatter(value, row, index) {
        var id = value;
        console.log("id="+ id);
        var result = "";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看' data-toggle='modal' data-target='#modalTable'><span class='fa fa-search'></span></a>";
        result += "<a href='javascript:;' class='btn btnEdit btn-xs blue' onclick=\"EditViewById('" + id + "')\" title='编辑'><span class='fa fa-pencil'></span></a>";
        result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" + id + "')\" title='删除'><span class='fa fa-remove'></span></a>";

        return result;
    }
</script>

<% include ../footer.html %>