<link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css">
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>

<script src="/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
<!-- <script src="/x-editable/dist/jqueryui-editable/js/jqueryui-editable.js"></script>   -->
<!-- <link rel="stylesheet" href="/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css"> -->
<!-- <script src="/x-editable/dist/bootstrap-editable/js/bootstrap-editable.js"></script>   -->