<% include header.html %>
<link rel="stylesheet" href="/stylesheets/homestyle.css">
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2 class="text-left" style="font-size:36px;">智能水表集抄系统</h2>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <% include leftmenu.html %>
        </div>
        <div class="col-md-10 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2>综合信息展示</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1 column">
                    <p>资源树</p>
                </div>
                <div class="col-md-11 column">
                    <% include showtable.html %>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <footer>
                <p class="text-center">Copyright©2018-2020 济宁金水科技有限公司 </p>
            </footer>
        </div>
    </div>
</div>
<% include footer.html %>