<% include header.html %>
<link href="/homepage/src/skin.css" rel="stylesheet" />
<link href="/homepage/src/menu/sidemenu.css" rel="stylesheet" />
<div class="header">

    <div class="logo">
        <img src="/homepage/photo/user2-160x160.jpg" /><span id="currentUser"><%= username %></span>
    </div>

    <div class="header-tabs">
        <ul>
            <li>
                <div class="tabs-item"><i class="fa fa-dashboard"></i>控制台</div>
            </li>
        </ul>

    </div>


    <div class="header-menu">
        <div class="cc-info" style="font-size:16px;">
            <a href="#" onclick="logout()" style="float: right;margin-right: 50px;margin-top: 5px; color: black;" class="btn btn-danger">注 销 <i class="fa fa-sign-out"></i></a>
            <a href="#" onclick="window.open('/城市供水管理服务平台用户手册.doc')" style="float: right;margin-top: 5px;color: black;"class="btn btn-info">帮 助 <i class="fa fa-info"></i></a>
        </div>
    </div>
</div>

<div id="menu" class="main-sidebar"></div>


<div class="main">
    <!-- <iframe id="mainframe" src="./showtable.html" frameborder="0" name="main" style="width:100%;height:100%;padding:0"></iframe> -->
</div>
<script src="/homepage/data/menudata.js"></script>
<script src="/homepage/src/menu/sidemenu.js"></script>
<script>
    $("#menu").sidemenu({
        data: menuData,
    });
    
    function logout() {
        if (confirm("退出系统？")) {
            location.href = 'logout';
        }
        else {
            // location.href = 'home';
        }
    };
</script>
</body>

</html>