<link rel="stylesheet" href="/stylesheets/leftmenubase.css">
<!--初始化文件-->
<link rel="stylesheet" href="/stylesheets/leftmenu.css">
<!--主样式-->
<div id="menu">
    <!--隐藏菜单-->
    <div id="ensconce">
        <h2>
            <img src="/images/show.png" alt="">
            导航菜单
        </h2>
    </div>

    <!--显示菜单-->
    <div id="open">
        <div class="navH">
            导航菜单
            <span><img class="obscure" src="/images/obscure.png" alt=""></span>
        </div>
        <div class="navBox">
            <ul>
                <li>
                    <h2 class="obtain">档案管理<i></i></h2>
                    <div class="secondary">
                        <h3>用户信息</h3>
                        <h3>用户变更</h3>
                        <h3>水表信息</h3>
                        <h3>换表信息</h3>
                        <h3>集抄器信息</h3>
                    </div>
                </li>
                <li>
                    <h2 class="obtain">抄表管理<i></i></h2>
                    <div class="secondary">
                        <h3>抄表数据管理</h3>
                        <h3>抄表数据审核</h3>
                        <h3>账单数据查询</h3>
                    </div>
                </li>
                <li>
                    <h2 class="obtain">统计查询<i></i></h2>
                    <div class="secondary">
                        <h3>综合查询</h3>
                        <h3>用水量统计</h3>
                        <h3>水费分类统计</h3>
                    </div>
                </li>
                <li>
                    <h2 class="obtain">短信管理<i></i></h2>
                    <div class="secondary">
                        <h3>短信模板设置</h3>
                        <h3>短信群发记录</h3>
                        <h3>短信群发设置</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
//加载导航菜单栏
$(function() {
    $.ajax({        
        url : '/ajax/menu',
        async : false,
        type : "GET",
        // dataType : "jsonp", // 返回的数据类型，设置为JSONP方式
        // jsonp : 'callback', //指定一个查询参数名称来覆盖默认的 jsonp 回调参数名 callback
        // jsonpCallback: 'handleResponse', //设置回调函数名
        // data : {
        //     level : level
        // },
        success : function(data) {
            console.log('取数成功');
            console.log(data);
            $.each(data, function(i, n) {
                if (n.parentID == "0") {//加载父类节点即一级菜单
                    var content = '<div title="'+n.name+'" style="overflow: hidden;padding: 0px;">';
                    $.each(data, function (j, m) {
                        if(m.parentID == n.id){                          
                            content += '<a id="alink" hrefs="'+m.url+'" class="easyui-linkbutton" target="iframe" style="width:100%;text-align:left" data-options="iconCls:'+"'"+m.IconCls+"'"+'">' +m.name+'</a><br/>';                           
                        }
                    })
                    content += '</div>'; 
                    console.log(content);                   
                    if (i == 0) {//默认显示第一个一级菜单下的二级菜单
                        $('#layout_west_accordion').accordion('add', {
                            title : n.name,
                            iconCls : n.IconCls,
                            selected : true,
                            content : content,                            
                        });
                    } 
                    else {
                        $('#layout_west_accordion').accordion('add', {
                            title : n.name,
                            iconCls : n.IconCls,
                            selected : false,
                            content : content,                            
                        });
                    }
                }
            });
        },
        error:function(XMLHttpRequest){
            console.log(XMLHttpRequest.responseText);
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
        }
    });
})
</script>
<!--rem适配js-->
<script src="/javascripts/leftmenuadapter.js"></script>
<!--控制js-->
<script src="/javascripts/leftmenu.js"></script>
