
.header {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #fff;
    font-size: 12px;
    height: 50px;
    width: 100%;
    min-width: 630px;
    line-height: 50px;
    display: inline-block;
    background: #605ca8;
}

    .header .logo img {
        transition-duration: 0.3s;
        transition-timing-function: ease;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        vertical-align: middle;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-right: 10px;
        /*padding:0 10px;*/
        margin-top: -5px;
    }

.collapse .header .logo img {
    padding: 0;
    margin-right: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.logo {
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    background: #555299;
    text-align: center;
    width: 200px;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}


.collapse .logo {
    width: 50px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

    .collapse .logo span {
        display: none;
    }

.header-tabs {
    position: absolute;
    background: #ffd800;
    width: 950px;
    /*min-width:950px;*/
    display: inline-block;
    left: 200px;
    height: 50px;
    line-height: 50px;
    background: inherit;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

    .header-tabs ul li {
        margin-left: -4px;
        border-right: 1px solid #555299;
        vertical-align: middle;
        display: inline-block;
    }

    .header-tabs .tabs-item {
        padding: 0 15px;
    }
    /*.header-tabs .close.fa {
    
    }*/

    .header-tabs ul li:hover {
        cursor: pointer;
        background: #555299;
        vertical-align: middle;
    }

    .header-tabs ul li.active,
    .header-tabs ul li .tabs-item.active {
        background: #555299;
    }

.mini-button.mini-menubutton.tabs-menu {
    background: #605ca8;
    border: none;
}

    .mini-button.mini-menubutton.tabs-menu:hover {
        color: #fff;
        background: #555299;
        border: none;
    }

.mini-button-menu {
    background: none;
    content: "\f0d7";
}

.header-tabs .tabs-menu {
    color: #fff;
    padding-left: 0px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    top: 0px;
    right: 0;
    width: 40px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #555299;
    border-left: 1px solid #555299;
    float: right;
}

    .header-tabs .tabs-menu:hover {
        background: #555299;
    }


    .header-tabs .tabs-menu > li {
        border: none;
    }

    .header-tabs .tabs-menu.open > .dropdown-menu {
        display: block;
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    margin-top: 2px;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.header-tabs .dropdown-menu li {
    /*text-align:center;*/
    position: relative;
    display: block;
    padding: 6px 12px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    border: none;
}



    .header-tabs .dropdown-menu li:hover {
        background: #e1e3e9;
        color: #000;
    }

    .header-tabs .dropdown-menu li.active {
        background: #2c3e50;
        color: #fff;
    }

.tabs-item .fa.close {
    display: none;
    font-size: 10px;
    position: absolute;
    line-height: 50px;
    padding: 0 0 0 3px;
}

.dropdown-menu .tabs-item .fa.close {
    line-height: 15px;
    right: 15px;
}

.tabs-item:hover .fa.close {
    display: inline-block;
}


/*.fa.close:hover {
background:red;
}*/

.header-tabs ul li .fa,
.header-tabs ul li i {
    padding: 0 4px;
}

.collapse .header-tabs {
    left: 50px;
}

.header-menu {
    background: inherit;
    display: inline-block;
    width: 400px;
    float: right;
    height: 50px;
    line-height: 50px;
}
