
.main-sidebar.sidemenu {
    position: absolute;
    top: 50px;
    left: 0;
    /*background: #fff;*/
    bottom: 0;
    overflow: hidden;
}

.main-sidebar.sidemenu {
    width: 200px;
    font-size: 12px;
}
.main-sidebar.sidemenu {
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

    .main-sidebar.sidemenu.menu-collapse {
        transition-duration: 0.3s;
        transition-timing-function: ease;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }
